<!DOCTYPE html>
<html lang="en" dir="ltr">
  <link rel="stylesheet" type="text/css" href="css/tracking.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="wrap">
       <div class="search">
         <form action="/tracking" method="get">
           <input type="text" class="searchTerm" placeholder="What are you looking for?">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
           </button>
         </form>
       </div>
    </div>
  </body>
</html>
